html{
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}
body{
    padding: 0;
    margin: 0;
}
nav{
    background-color: #003247;
    padding: 0;
    margin: 0;
    border: none;
}
ul{
    list-style: none;
    display: flex;
    justify-content: end;
    padding: 0;
    margin: 0;
}
li:first-child{
    margin-right: auto;
}
.navLogo img{
    width: 5rem;
    margin-right: auto;
}
.navItem{
    display: flex;
    padding: 1.5rem;
    justify-content: center;
    align-items: center;
    color: white;
}